*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.ipynb_checkpoints
*_files
*nb.html
.Rproj.user
**/_shapes
**/_output
*.gpkg
**/_grids

*.cpg
*.dbf
*.prj
*.shp
*.shx
*.qpj

*.mtx
*.att

config.yml

.idea/*