site_name: ULTImodel - Universal Transport Distribution Model
site_url: https://example.com/
site_description: Distribute road-based transport using open data
site_author: Nina Thomsen
docs_dir: ./docs
repo_url: https://gitlab.dlr.de/ultimo/ultimo-python

theme:
    name: readthedocs
    highlightjs: true
    hljs_languages:
        - yaml
    palette:
        primary: light green

nav:
    - Home: index.md
    - Installation: install.md
    - Model Description: use.md
    - Examples:
        - Network: example-net.md
        - Cost matrix: example-cost.md
        - Trip Distibution: example-dis.md
        - Tutorials: tutorials.md
    - API:
        - Network: api-network.md
        - Generation and distribution factors: api-gd.md
        - Distribution: api-dis.md
    - Distribution:
        - ChangeLog: changes.md
        - License (MIT): license.md
        - Legal: legal.md

markdown_extensions:
    - admonition
    - sane_lists

copyright: "&copy; Copyright 2020&ndash;2023 DLR."

use_directory_urls: false

plugins:
    - search
    - mkdocstrings:
        handlers:
            python:
                paths: [..]
                options:
                    filters: [""]
                    show_source: False
                    docstring_style: "sphinx"

